<div style="width: 700px; margin-top: 80px">
  <div *ngFor="let todo of todos">
    {{ todo.description }}
  </div>

  <div class="mb-3">
    <label for="todoDescription" class="form-label">Choose Language</label>
    <textarea
      class="form-control"
      id="todoDescription"
      rows="3"
      [value]="todo.description"
      (change)="todo.description = getValue($event)"
    ></textarea>
    </div>

  <div class="mb-3">
    <button  class="btn btn btn-primary">Translate</button>
    <button
    
      class="btn btn-secondary"
       (click)="addTodoItem(todo)"
    >
      Add
    </button>
    <button type="button" class="btn btn-outline-dark btn-tertiary" (click)="cancelAdd()" >
      Cancel
    </button>
  </div>
  <div class="mb-3">
    <label for="todoDescription" class="form-label">Choose Langua</label>
    <textarea
      class="form-control"
      id="todoDescription"
      rows="3"
    ></textarea
    >
  </div>
</div>
