<form [formGroup]="signinForm"
 style="width: 400px; margin-top: 80px" 
 (ngSubmit)="signIn(this.signinForm.value)" [(ngModel)]="user"
 >
  <div class="form-group mb-3">
    <label for="exampleInputEmail1" class="form-label">Name or Email</label>
    <input
    [class.is-invalid] = "signinForm.get('name').invalid && signinForm.get('name').touched "
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      formControlName="name"
      required
    />
    <p *ngIf="this.errors.field === 'nameOrEmail'" style="color: red;">{{ errors.message }}</p>
  </div>
  <div class="form-group mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
    [class.is-invalid] = "signinForm.get('password').invalid && signinForm.get('password').touched "
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
      formControlName="password"
      required
    />
    <p *ngIf="this.errors.field === 'password'" style="color: red;">{{ errors.message }}</p>
  </div>

  <button type="submit" class="btn btn-primary" style="width: 100%;">Sign In</button>
</form>
