<!-- <p>records works!</p> -->

<div class="d-flex" style="margin-top: 80px;width: 1000px;">
  <div style="padding: 50px; height: 400px;width: 100%;"  >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of _userList; index as i" style="height: 50px">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td >
            <button id="gettodo" class="btn btn-outline-primary"
              [routerLink]="['use',user.id]"
              [queryParams]="{id:user.id}"
              (click)="widthChange()"
              >
              Check Records
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


    <router-outlet></router-outlet>

  
</div>